{"testuser": "testpass", "jlester319@gmail.com": {"password": "scrypt:32768:8:1$kPGgK49VLLfV9yOB$a37a74fb6ba10fecbd834f5aa48f5735591e54b70cd956daf7c0ae89768e284ebcf52d98726f3359237a8c71a854160396e8e37ba7257bfb59796757a9210b23", "email": "", "verified": false, "race": "Human", "char_class": "Netrunner", "char_name": "Razaroth", "xp": 16, "level": 1, "xp_max": 100, "equipment": {"head": null, "body": null, "legs": null, "feet": null, "hands": null, "weapon": null, "offhand": null, "accessory": null}, "credits": 100, "inventory": ["Cyberdeck", "Neon Blade", "Stimpack"], "current_room": "hall", "hp": 85, "energy": 100, "endurance": 80, "willpower": 88}}
